* {
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
    color: #444;
}

header {
    background-color: #036;
    color: white;
}

header>h1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
}

#tag_header {
    padding-bottom: 0.5rem;
}

#tag_header>h1 {
    margin-top: 0px;
}

#userdata {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    text-align: right;
}

footer {
    background-color: #69c;
    text-align: center;
}

main,
.conteiner {
    max-width: 1200px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

main {
    grid-template-rows: 100%;
    grid-template-columns: 10rem auto;
}

.conteiner {
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
}

main>nav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    /* border: solid 1px blue; */
}

nav>ul>li {
    margin-left: 0px;
    list-style: none;
}

#content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    /* border: solid 1px red; */
    margin-left: 1rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'RobotoCondensed', 'Arial Narrow', Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    font-style: normal;
}

header h1 {
    margin: 0px;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
    font-style: normal;
}

h3 {
    font-size: 2rem;
    font-weight: normal;
    font-style: italic;
}

h4 {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: normal;
}

h5 {
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
}

h6 {
    font-size: 1.5rem;
    font-weight: normal;
    font-style: italic;
}

input,
textarea {
    padding: 0.2rem;
    border-radius: 0.2rem;
    border-style: solid;
    border-color: #aaa;
    border-width: 1px;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

input {
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    font-size: 1rem;
    box-sizing: border-box;
    width: 100%;
    resize: vertical;
}

button,
.button {
    display: inline-block;
    text-decoration: none;
    color: #444;
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    background-color: #ddd;
    border-radius: 0.2rem;
    border-width: 1px;
    border-style: solid;
    border-color: #aaa;
    cursor: default;
}

button:hover,
.button:hover {
    background-color: #aaa;
    border-color: #888;
}

.nav-item {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
    color: #444;
    text-align: center;
}

.nav-item:hover {
    background-color: #69c;
}

pre,
code {
    background-color: #eee;
    border-radius: 0.2rem;
    border-style: solid;
    border-color: #eee;
    border-width: 1px;
}

pre {
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

blockquote {
    background-color: #eee;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-left-style: double;
    border-left-width: 5px;
    border-left-color: #c06;
}

#preview {
    margin-bottom: 1rem;
}

#text p {
    margin-bottom: 0.5rem;
}

#text img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    border-color: #888;
    border-width: 1px;
    border-radius: 0.2rem;
    border-style: solid;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

table {
    border-spacing: 0px;
    border-color: #888;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.2rem;
}

td,
th {
    padding: 0.5rem;
}

tbody td {
    border-bottom-color: #888;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

thead th {
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

li {
    margin-left: 1.5rem;
}

#article-header {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}