code {
    font-family: 'Cousine', 'Consolas', 'Courier New', Courier, monospace;
}

.nd {
    color: chocolate;
}

.n {
    color: royalblue;
}

.nf {
    color: indigo;
}

.p {
    color: black;
    font-weight: bold;
}

.s1 {
    color: green;
}

.c1 {
    color: grey;
    font-style: italic;
}

.k {
    color: blueviolet;
    font-weight: bold;
}