{% extends 'base.html' %} {% block title %}{{ caption }}{% endblock title %} {% block content %}
<!-- <div class="toolbar">
    <a href="{{ url_for('article_edit', art_id = id) }}" class="button"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
    <a href="{{ url_for('article_recompile', art_id = id) }}" class="button"><i class="fa fa-refresh fa-lg" aria-hidden="true"></i></a>
    <a href="{{ url_for('article_delete', art_id = id) }}" class="button"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
</div> -->
<article>
    <h1 id="article-header">{{ caption }}</h1>
    <div id="tags">{% for tgid, tgtxt in tags.items() %}
        <a class="tag" href={{ url_for('tag_show', tag_id=tgid) }}>{{ tgtxt }}</a>
    {% endfor %}</div>
    <div id="preview">{{ preview|safe }}</div>
    <div id="text">{{ text|safe }}</div>
</article>
{% endblock content %}