{% extends 'base.html' %}

{% block title %}Новая статья{% endblock title %}

{% block content %}
{% if message %}<p>{{ message }}</p>{% endif %}
<h1>Создать новую статью</h1>
<form action="/article/new" method="post">
    <p><input type="text" name="caption" id="caption" placeholder="название" /></p>
    <p><textarea name="preview_md" id="preview_md" placeholder="описание"></textarea></p>
    <p><textarea name="text_md" id="text_md" placeholder="текст"></textarea></p>
    <button type="submit">Отправить</button>
</form>
{% endblock content %}
