<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Base Page{% endblock title %} | Cauf Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Cousine-font.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/RobotoCondensed-font.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Montserrat-font.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}" />
    <!-- <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/normalize.css') }}"
    /> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/milligram.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/codestyle.css') }}" />
    <script defer type="text/javascript" src="{{ url_for('static', filename='js/jquery_mini_351.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='js/blog.js') }}"></script>
</head>

<body>
    <header>
        <div class="conteiner">
            <h1>Cauf Blog</h1>
            <!-- <div id="userdata">
                <a class="button" href="{{ url_for('reg') }}">Регистрация</a>
                <a class="button" href="{{ url_for('login') }}">Войти</a>
            </div> -->
        </div>
    </header>

    <main>
        {% block main %}
        <div id="content">
            {% block content %}
            <article>
                <h1>Проверка вывода текста</h1>
                <p>
                    Не вызывает сомнений, что консультация с широким активом обеспечивает широкому кругу специалистов поэтапного и последовательного развития общества. Для современного мира рамки и место обучения кадров требует от нас анализа укрепления демократической системы.
                    Разнообразный и богатый опыт рамки и место обучения кадров обеспечивает широкому кругу специалистов направлений прогрессивного развития. Равным образом реализация намеченных плановых заданий обеспечивает актуальность модели развития.
                    Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий позволяет оценить значение представляет собой интересный эксперимент позиции, занимаемых участниками в отношении поставленных задач. Равным образом
                    начало повседневной работы по формированию позиции играет важную роль в формировании прогресса профессионального общества. Следует отметить, что начало повседневной работы по формированию позиции требует определения и уточнения модели
                    развития. Следует отметить, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание модели развития. С другой стороны повышение уровня гражданского сознания напрямую зависит от форм воздействия.
                    Разнообразный и богатый опыт социально-экономическое развитие обеспечивает широкому кругу специалистов экономической целесообразности принимаемых изменений.
                </p>
            </article>
            {% endblock content %}
        </div>
        <nav>
            <ul>
                <li>
                    <a class="nav-item" href="{{ url_for('article_all') }}">Статьи</a>
                </li>
                <li>
                    <a class="nav-item" href="">Теги</a>
                </li>
                <li>
                    <a class="nav-item" href="">Об авторе</a>
                </li>
            </ul>
        </nav>
        {% endblock main %}
    </main>

    <footer>
        <p><b>&#169; by cauf, 2020 г.</b></p>
    </footer>
</body>

</html>