{% extends "base.html" %}

{% block title %}Авторизация{% endblock title %}

{% block content %}
<form action="login" method="post">
    <input type="text" id="login" name="login" placeholder="логин">
    <input type="password" id="password" name="password" placeholder="пароль">
    <button type="submit">Отправить</button>
</form>
{% endblock content %}
