{% extends "base.html" %}

{% block title %}Регистрация{% endblock title %}

{% block content %}
<form action="{{ url_for('reg') }}" method="post">
    <input type="text" id="login" name="login" placeholder="логин">
    <input type="password" id="password1" name="password1" placeholder="пароль">
    <input type="password" id="password2" name="password2" placeholder="повторите пароль">
    <input type="email" id="email" name="email" placeholder="e-mail">
    <button type="submit">Зарегистрироваться</button>
</form>
{% endblock content %}
