{% extends "base.html" %} {% block title %}Все статьи{% endblock title %} {% block content %}
<!-- <a href="{{ url_for('article_new') }}" class="button"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></a> -->
<div id="tag_header">
    <h1>Тэг &#171;{{ tag }}&#187;</h1>
    <p>Всего найдено статей: {{ articles_count}}</p>
</div>
<div class="paginator">
    <a class="first" href="{{ url_for('tag_show', tag_id=tag_id) }}">&#60;&#60;</a>
    {% for pg in range(start_page, end_page + 1) %}
        {% if pg == cur_page %}
            {{ pg }}
        {% else %}
            <a class="pages" href="{{ url_for('tag_show', tag_id=tag_id, page=pg) }}">{{ pg }}</a>
        {% endif %}
    {% endfor %}
    <a class="last" href="{{ url_for('tag_show', tag_id=tag_id, page=max_page) }}">&#62;&#62;</a>
</div>
<div class="all_articles">
    {% for art in articles %}
    <article>
        <h2>{{ art.caption }}</h2>
        <div class="preview">{{ art.preview_html|safe }}</p>
            <a class="button" href="{{ url_for('article_show', art_id=art.id) }}">Читать далее</a>
    </article>
    {% endfor %}
    </div>
<div class="paginator">
    <a class="first" href="{{ url_for('tag_show', tag_id=tag_id) }}">&#60;&#60;</a>
    {% for pg in range(start_page, end_page + 1) %}
        {% if pg == cur_page %}
            {{ pg }}
        {% else %}
            <a class="pages" href="{{ url_for('tag_show', tag_id=tag_id, page=pg) }}">{{ pg }}</a>
        {% endif %}
    {% endfor %}
    <a class="last" href="{{ url_for('tag_show', tag_id=tag_id, page=max_page) }}">&#62;&#62;</a>
</div>
{% endblock content %}